option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "app:app"
    
# to install certificates
packages:
  yum:
    ca-certificates: []

commands:
  01_update_cert:
    command: "update-ca-trust"